#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Closed-Hat {
    border-top-left-radius: 20px;
}

#Kick {
    border-bottom-right-radius: 20px;
}

#display {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 15px;
    border: 2px solid gray;
}

.button-container {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

.drum-pad {
    width: 50px;
    height: 50px;
    color:aliceblue;
    background-color: slategray;
    border: 0.5px solid rgb(42, 42, 42);
}

.drum-pad:hover {
    background-color: rgb(131, 150, 171);
}

.drum-pad:active {
    background-color: black;
}

.drum-pad:focus-visible {
    outline: none;
}

.drum-pad button:active {
    border: none;
}

div:focus-visible {
    outline:none;
}